<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOOF! Registro!</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="icon" href="/img/Fondo.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <div class="atraccion">
            <picture>
                <img class="superior" src="/img/Logo vertical.png" alt="Logo de Woof!">
            </picture>
             
            <nav>

                <ul>
                
                    <li>
                        <a href="/users/login" class="nav">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="" class="nav">Mis Compras <i class="fas fa-shopping-basket"></i></a>
                    </li>
                    <li>
                        <a href="" class="nav">Ayuda</a>
                    </li>
                    <li>
                        <a href="" class="nav">Sobre Nosotros</a>
                    </li>
                </ul>
            </nav>

        </div>
        <!-- BUSCADOR
        <div class="buscador">
        <div class="form" action="#" method="GET">
            <input type="text" class="input" placeholder="Buscar">
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
    -->
    </div>
    
    </header>
</body>
</html>