<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOOF!</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
    <div class = "top-header">
        <h1>Header en proceso</h1>
    </div>
    </header>
    <section class="banner">
        <img src="/img/banner.jpeg" alt="Banner Woof!">
    </section>
    <main>
        <section>
            <h2>Productos</h2>
            <div class="products-container">
                <article>
                    <img src="/img/Producto_prueba.jpg" alt="">
                    <div class="product-card">
                        <i class="fas fa-truck">Reciclado</i>
                        <div class="flex-row">
                            <p class="price">$$$</p>
                            <p class="discount">Descuento</p>
                        </div>
                        <h3 class="description">Producto</h3>                
                    </div>
                </article>
                <article>
                    <img src="/img/Producto_prueba.jpg" alt="">
                    <div class="product-card">
                        <i class="fas fa-truck"></i>
                        <div class="flex-row">
                            <p class="price">$$$</p>
                            <p class="discount">Descuento</p>
                        </div>
                        <h3 class="description">Producto</h3>                
                    </div>
                </article>
                <article>
                    <img src="/img/Producto_prueba.jpg" alt="">
                    <div class="product-card">
                        <i class="fas fa-truck"></i>
                        <div class="flex-row">
                            <p class="price">$$$</p>
                            <p class="discount">Descuento</p>
                        </div>
                        <h3 class="description">Producto</h3>                
                    </div>
                </article>
                <article>
                    <img src="/img/Producto_prueba.jpg" alt="">
                    <div class="product-card">
                        <i class="fas fa-truck"></i>
                        <div class="flex-row">
                            <p class="price">$$$</p>
                            <p class="discount">Descuento</p>
                        </div>
                        <h3 class="description">Producto</h3>                
                    </div>
                </article>
                <article>
                    <img src="/img/Producto_prueba.jpg" alt="">
                    <div class="product-card">
                        <i class="fas fa-truck"></i>
                        <div class="flex-row">
                            <p class="price">$$$</p>
                            <p class="discount">Descuento</p>
                        </div>
                        <h3 class="description">Producto</h3>                
                    </div>
                </article>
                <article>
                    <img src="/img/Producto_prueba.jpg" alt="">
                    <div class="product-card">
                        <i class="fas fa-truck"></i>
                        <div class="flex-row">
                            <p class="price">$$$</p>
                            <p class="discount">Descuento</p>
                        </div>
                        <h3 class="description">Producto</h3>                
                    </div>
                </article>
                </article>
                <article>
                    <img src="/img/Producto_prueba.jpg" alt="">
                    <div class="product-card">
                        <i class="fas fa-truck"></i>
                        <div class="flex-row">
                            <p class="price">$$$</p>
                            <p class="discount">Descuento</p>
                        </div>
                        <h3 class="description">Producto</h3>                
                    </div>
                </article>
                <article>
                    <img src="/img/Producto_prueba.jpg" alt="">
                    <div class="product-card">
                        <i class="fas fa-truck"></i>
                        <div class="flex-row">
                            <p class="price">$$$</p>
                            <p class="discount">Descuento</p>
                        </div>
                        <h3 class="description">Producto</h3>                
                    </div>
                </article>
            </div>  
        </section>
    </main>
    <section class="banner">
        <img src="/img/Slide-Sobre-Nosotros.png" alt="BSobre Nosotros!">
    </section>
    <footer>
        <div class = "top-header">
            <h1>Footer en proceso</h1>
        </div>
    </footer>
</body>
</html>