<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOOF! Registro!</title>
    <link rel="stylesheet" href="/css/Register.css">
    <link rel="icon" href="/img/Fondo.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <%-include('partials/header.ejs')%>
    </header>
    <main class="register">
        <div class="registro">
            <h3 class="registro">Logeate aqui:</h3>
        </div>
    
        <div class="formulario">
            <form action="/login" method="POST" enctype="multipart/form-data">
            <input type="email" name="email" id="datos" placeholder="correo@correo.com" required>
        </div>
   
        <div class="password">
            <input type="password" name="password" placeholder="ingresa tu contraseña"required ><br>
        </div>
        
        <div class="buttons">
            <input type="submit" value="Crear cuenta" class="btn">
        </div>

    </main>
   
    <footer>
        <%-include('partials/footer.ejs')%>
    </footer>
</body>
</html>

