<div class="formulario">
    <form action="/login" method="POST" enctype="multipart/form-data">
        <!-- <label for="name">Ingresa tu nombre y apellido:</label> -->
        <div class="registro">
        <input type="text" name="name" id="datos" placeholder="nombre y apellido" required minlength="2">
        <input type="text" name="username" id="datos" placeholder="nombre de usuario" required>
    
    <input type="email" name="email" id="datos" placeholder="correo@correo.com" required>
        
        <input type="text" name="adress" id="datos" placeholder="Domicilio" required>
    </div>


