<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOOF! Registro!</title>
    <link rel="stylesheet" href="/css/Register.css">
    <link rel="icon" href="/img/Fondo.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <div class="atraccion">
            <picture  >
                <img class="superior" src="/img/Logo vertical.png" alt="Logo de Woof!">
             </picture>
             
             <nav>

                <ul>
                
                    <li>
                        <a href="/login" class="nav">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="" class="nav">Mis Compras <i class="fas fa-shopping-basket"></i></a>
                    </li>
                    <li>
                        <a href="" class="nav">Ayuda</a>
                    </li>
                    <li>
                        <a href="" class="nav">Sobre Nosotros</a>
                    </li>
                </ul>
            </nav>

        </div>
        <!-- BUSCADOR
        <div class="buscador">
        <div class="form" action="#" method="GET">
            <input type="text" class="input" placeholder="Buscar">
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
    -->
    </div>
    
    </header>
    <main class="register">
        <div class="registro">
        <h3 class="registro">Creá tu cuenta aqui:</h3>
    
    <div class="formulario">
        <form action="/login" method="POST" enctype="multipart/form-data">
            <!-- <label for="name">Ingresa tu nombre y apellido:</label> -->
            <div class="registro">
            <input type="text" name="name" id="datos" placeholder="nombre y apellido" required minlength="2">
            <input type="text" name="username" id="datos" placeholder="nombre de usuario" required>
        
        <input type="email" name="email" id="datos" placeholder="correo@correo.com" required>
            
            <input type="text" name="adress" id="datos" placeholder="Domicilio" required>
        </div>


    </div>
           
           <div class="password">
            
            <input type="password" name="password" placeholder="ingresa tu contraseña"required ><br>
            <input type="password" name="repassword" placeholder="reingresa tu contraseña"required><br>
        </div>
        
            <div class="buttons">
                <input type="submit" value="Crear cuenta" class="btn">
            </div>
            
        </div>
        </form>
        
    </main>
   
    <footer>
        
        <Section class="contenido-footer">
           
            <h4>Categorias</h4>
            <a href="" class="categoria">
            <li class="categoria">Perros</li></a>
            <a href="" class="categorias">
            <li class="categoria">Gatos</li></a>
            <a href="" class="categoria">
            <li class="categoria">Aves</li></a>
            <a href="" class="categoria">
            <li class="categoria">Peces</li></a>
            <a href="" class="categoria">
            <li class="categoria">Roedores</li></a>
            <a href="" class="categoria">
            <li class="categoria">Reptiles</li></a>
        
        </Section>
        <section class="contenido-footer">
           <h4>Sobre Nosotros</h4>
            <p><li>Quienes somos</li>
            <li>Delivery</li>
            <li>Terminos y condiciones</li>
            </p>
        </section>
        <section class="contenido-footer">      
            <h4>Servicios</h4> <a href="" class="servicio">
            <p><li class="servicio">Guardia las 24hs</li></a>
                <a href="" class="servicio">
            <li class="servicio">Consejos para tu mascota</li></a>
            <a href="" class="servicio">
            <li class="servicio">Mi cuenta</li></a>
            </p>
        </section>
        <section class="contenido-footer">   
            <h4>Contactanos!</h4>
            <p> <li>
               Tel. 3476624432
            </li>
            <li>
                Wpp: 3476624432
            </li>
            <li>
                Email: Woof@hotmail.com
            </li>
            </p>
        </section>
        <div class="contacto">
            <iframe style="height: 370px; border: none; margin-left: auto; margin-right: auto;" src="https://www.catycan.com/Imagenes/Contacto/Contacto.html" width="100%" height="370" frameborder="0" scrolling="no"></iframe>    
        </div>
    </footer>
    <section class="Copyright">
        <p>Copyright © Woof S.A</p>
    </section>
</body>
</html>





