@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --blanco-medio: #f5f3eb;
    --naranja: #f49a1a;
    --naranja-claro: #f7aa2c;
    --celeste: #b0d0cf;
    --azul: #1c3f80;
    --azul-fuerte: #222d56;
    --text-sm: 0.5em;
    --text-md: 1.2em;
    --text-lg: 1.5em;
    --title-md: 2.4em;
    --mochipop: 'Mochiy Pop One', sans-serif;    
    --raleway: 'Raleway', sans-serif;
}

*{
    font-family: var(--mochipop);
   
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer{
    margin: 0 auto;
    padding: 40px 10px 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--celeste);
    align-items: flex-start;
    
}
div.contacto{
    border-left: 1px solid;
}
p{
    font-family: var(--mochipop);
    text-decoration: none;
    color: #5a5a5a;
}
.contenido-footer{
    margin: 30px auto;
    text-align: center;
}
section.Copyright{
    background-color: #d9d4d4;
    display: flex;
    flex-direction: column-reverse;
}

li{
    font-family:var(--mochipop);
    text-decoration: none;
    color: #5a5a5a;
    /*padding-left: 8px;*/
}

@media (max-width: 513px){
    ul{
        flex-direction: column;
        
    }
}


     
   
   
    
@media (min-width: 769px){
    footer { flex-direction: row;
        flex-wrap: wrap;
}
}