@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


:root {
    --blanco: rgb(255, 255, 255);
    --blanco-medio: #f5f3eb;
    --naranja: #f49a1a;
    --naranja-claro: #f7aa2c;
    --celeste: #b0d0cf;
    --azul: #1c3f80;
    --azul-claro: #222d56;
    --text-sm: 1.2em;
    --text-md: 1.6em;
    --text-lg: 1.8em;
    --title-md: 2.4em;
    --mochipop: 'Mochiy Pop One', sans-serif;    
    --raleway: 'Raleway', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head.icon{
    max-width: 100000px;
}

html {
    font-size: 62.5%;
    font-family: var(--mochipop);
}

body {
    background-color: var(--blanco);
}
  
h2 {
    font-size: var(--title-md);
}
  
h4 {
    font-size: var(--text-lg);
}
  
a {
    font-size: 14px;
}
  
p {
    font-size: var(--text-sm);
}



header div img{
    max-width: 250px;
}

footer {
    background-color: var(--naranja-claro);
    padding: 2em 2em 3em;
}

section.banner img {
    width: 100%;
    background-color: orange;
    max-width: 100%;
}

.form {
    display: flex;
    flex-grow: 2;
}

.top-header h1 {
    color: var(--blanco);
    margin-left: 10px;
}

main {
    width: 100%;
    margin: 0 auto;
}

.products-container{
    background-color: var(--blanco-medio);
}

main section div article {
    background-color: var(--blanco) !important;
    margin: 10px 10px;
}

main section{
    padding: 10px 10px;
    background-color: var(--blanco-medio);
    font-size: 75%;
}

main section article:hover {
    box-shadow: 0px 0px 20px rgb(100 100 100);
}
 
main section article img {
    width: 100%;
}
  
.price {
    font-size: var(--text-lg);
}
  
.discount, .description {
    font-size: var(--text-md);
}
  
.description {
    opacity: 0;
    transition: opacity 0.5s linear;
}
  
main section article:hover .description {
    opacity: 1;
}
  
main section article i, .discount {
    color: var(--verde);
}

main section article i {
    font-size: var(--text-md);
    border: 1px solid var(--verde);
    border-radius: 50%;
    display: block;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: var(--blanco);
    position: absolute;
    right: 20px;
    top: -15px;
    transition: transform 0.3s ease-in;
}
  
main section article:hover i {
    transform: rotate(-90deg);
}
  
main section h3 {
    margin: 20px 0px;
}
  
article div.product-card {
    width: 15%;
    border: 1px solid var(--blanco);
    padding: 15px;
    position: relative;
}

@media screen and (min-width: 361px){
    .description {
        opacity: 1;
    }
    
    .products-container {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .products-container article {
        max-width: 45%;
    }   
}

@media screen and (min-width: 769px) {
    .products-container article {
      max-width: 22%;
    }
}
  