<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOOF! Registro!</title>
    <link rel="stylesheet" href="/css/Register.css">
    <link rel="icon" href="/img/Fondo.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <%-include('../partials/header.ejs')%>
    </header>
    <main class="register">
        <div class="registro">
            <h3 class="registro">Logeate aqui:</h3>
        </div>

        <% if(typeof errors != 'undefined'){ %>
            <ul>
                <% for (let i = 0; i < errors.length; i++) { %>
                    <li style="color:red"> <%= errors[i].msg %> </li>
                <% } %> 
            </ul>
        <% } %>

        <form action="/users/login" method="POST" class="formulario" enctype="multipart/form-data">

            <input type="email" name="email" id="datos" placeholder="correo@correo.com" required>
            <input type="password" name="password" placeholder="ingresa tu contraseña" required>
            
            <label for="remember" class="remember">Recordame
                <input type="checkbox" name="remember" id="remember">
            </label>
            
            <div class="buttons">
                <input type="submit" value="Iniciar secion" class="btn">
            </div>
        </form>
    </main>
    <footer>
        <%-include('../partials/footer.ejs')%>
    </footer>
</body>

</html>