<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOOF! Registro!</title>
    <link rel="stylesheet" href="/css/Register.css">
    <link rel="icon" href="/img/Fondo.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <%-include('../partials/header.ejs')%>
    
    </header
    >
    <main class="register">
        <div class="registro">
        <h3 class="registro">Creá tu cuenta aqui:</h3>

        <div class="formulario">

            <form action="/users/register" method="POST" enctype="multipart/form-data">
                
                <% if(typeof errors != 'undefined'){ %>
                    <ul class="claseInutil">
                        <% for (let i = 0; i < errors.length; i++) { %>
                            <li style="color:red" class="claseInutil">
                                <%= errors[i].msg %>
                            </li>
                        <% } %> 
                    </ul>
                <% } %>
                
                <% if (locals.errors && errors.email) { %>
                    <li class="text-danger" style="color:red">
                        <%= errors.email.msg %>
                    </li>
                <% } %>

                <div class="registro">
                    <input type="text" name="name" id="name" placeholder="nombre y apellido">
                    <input type="email" name="email" id="email" placeholder="correo@correo.com" >
                    <input type="password" name="password" id="password" placeholder="Contraseña" >
                    <input type="text" name="direccion" id="direccion" placeholder="Direccion" >
                    <input type="file" name="avatar" id="avatar" placeholder="Avatar" >
                </div> 

                <div class="buttons">
                    <input type="submit" value="Crear cuenta" class="btn">
                </div>
            
            </form>
        </div>
    </main>
   
    <footer>
        <%-include('../partials/footer.ejs')%>
    </footer>
</body>
</html>





